data/cifar-10-python.tar.gz
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
Aumentado de Datos.ipynb
Clasificacion_I.ipynb
Clasificacion_II.ipynb
Manipulacion_de_datos_en_PyTorch_II.ipynb
Manipulacion_de_Datos_en_PyTorch.ipynb
Modelos_Neuronales_II.ipynb
Modelos_Neuronales_III.ipynb
Modelos_Neuronales_IV.ipynb
